/* Add some basic styles for the body and container */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(119,117,255,.2),rgba(128,170,230,.18));
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.about-links-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 500px;
}

.small-profile-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.repo-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.repo-title {
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: underline;
  text-decoration-color: #ed64a6;
}

.repo-description {
  font-size: 0.875rem;
  color: #4a5568;
}

.repo-article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.repo-article:hover {
  background-color: #f0f0f0;
}

.repo-article h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #2d3748;
}

.repo-article time {
  position: relative;
  order: -1;
  margin-bottom: 0.75rem;
  display: flex;
  font-size: 0.875rem;
  color: #718096;
  padding-left: 0.875rem;
}

.repo-article time span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 1rem;
  width: 0.125rem;
  border-radius: 9999px;
  background-color: #e2e8f0;
}

.repo-article p {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #718096;
}

.repo-article div {
  position: relative;
  margin-top: 1rem;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4299e1;
}

.repo-article svg {
  margin-left: 0.25rem;
  height: 1rem;
  width: 1rem;
  fill: none;
  stroke: currentColor;
}

.repo-article path {
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.repo-entry {
  margin-bottom: 1.5rem;
  flex-direction: column;
}

.repo-link {
  color: #4299e1;
  text-decoration: none;
  font-weight: 600;
}

.repo-link:hover {
  background-color: #f0f0f0;
}

.repo-link:hover .visit-repo-link {
  color: #0366d6;
}

.visit-repo-link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
}

.repo-date {
  display: block;
  font-size: 0.875rem;
  color: #718096;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1rem;
}

.repo-date-circle {
  height: 0.5rem;
  width: 0.5rem;
  background-color: #718096;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.repo-description {
  font-size: 0.875rem;
  color: #718096;
  margin-bottom: 1rem;
}

.visit-repo {
  display: inline-block;
}

.visit-repo-link {
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4299e1;
  text-decoration: none;
}

.visit-repo-link:hover {
  text-decoration: underline;
}

.visit-repo-icon {
  margin-left: 0.25rem;
  height: 1rem;
  width: 1rem;
  fill: none;
  stroke: currentColor;
}


/* Style the header and navigation */
header {
    background-color: #5a60ea;
    padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 0.5rem;
 }

nav li:first-child {
  margin-left: 0;
  position: relative;
}

nav li:first-child img {
  flex-shrink: 0;
}

nav li:nth-child(2) {
  margin-left: 0.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #d3d3d3;
}

/* Style the main content area */

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

.rounded-image-wrapper {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.rounded-image {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}


.full-width-row {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.column {
    flex: 1;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.columns-container {
    display: flex;
}

.form,
.work-experience {
  border-radius: 1rem;
  border: 1px solid #e2e8f0;
  padding: 1.5rem;
}

.form-heading,
.work-experience-heading {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  gap: 10px;
  color: #1a202c;
}

.work-list-item {
  display: flex;
  gap: 1rem;
}

.work-details {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.work-company {
  font-size: 1rem;
  font-weight: 500;
  color: #2d3748;
}

.work-role {
  font-size: 0.875rem;
  color: #718096;
}

.work-date {
  font-size: 0.875rem;
  margin-left: auto;
}

.download-cv-button {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-color: #3182ce;
  transition: background-color 0.2s ease-in-out;
}

.download-cv-button:hover {
  background-color: #4299e1;
}

.download-cv-button:active {
  background-color: #2b6cb0;
  color: rgba(255, 255, 255, 0.8);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.75rem;
}

.form-description {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #718096;
}

.form-input-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.email-input {
  flex-grow: 1;
  min-width: 0;
  appearance: none;
  border-radius: 0.375rem;
  border: 1px solid #cbd5e0;
  background-color: white;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #718096;
  font-size: 0.875rem;
}

.submit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  background-color: #ed64a6;
  color: #fff;
  font-weight: 600;
  transition: background-color 200ms;
}

.submit-button:hover {
  background-color: #d53f8c;
}

/* Projects Page */

.projects-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.project {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.25rem;
}

.project-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.project-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

/* API Page */
#results {
    font-family: Arial, sans-serif;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.artists-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 2rem;
    display: block;
}

artist-item {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    display: block;
}

/* Social Links */
main ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

main ul li {
    display: flex;
    align-items: center;
}

main ul li a {
    display: flex;
    align-items: center;
}

main ul li a svg {
    width: 24px;
    height: 24px;
    fill: #333;
    margin-right: 0.5rem;
}

.small-icon {
    width: 24px;
    height: 24px;
    fill: #333;
    margin-right: 0.5rem;
}

/* API */

.api-heading {
    text-align: center;
    margin-bottom: 1.5rem;
}

.api-paragraph {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 2rem;
    padding-left: 100px;
    padding-right: 100px;
}

.artistForm-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#artistForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

input[type="text"] {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

button {
    font-size: 1rem;
    color: #fff;
    background-color: #333;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


.results-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Style the footer */
footer {
    background-color: #5a60ea;
    color: white;
    text-align: center;
    padding: 10px;
}
